# Kilocode 配置目录
.kilocode/

# 常见的忽略文件
.DS_Store
Thumbs.db

# 编辑器配置
.vscode/
.idea/
*.swp
*.swo

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 依赖目录
node_modules/
index1.html
index2.html
index3.html
index4.html
backup/index.html
backup/index1.html
backup/index2.html
backup/index3.html
backup/index4.html
backup/README.md
kj.html
ducking.html
notice.html
